// Base colors
$color-white: #fff;
$color-grey: #424242;
$color-black: #000;
$color-blue: #003366;

$color-main-1: #252926;
$color-main-2: #af8c53;
$color-main-2-light: #ecbc6d;

// Font sizes
$font-size-xxs: 1.2rem;
$font-size-xs: 1.5rem;
$font-size-s: 2rem;
$font-size-s-m: 2.4rem;
$font-size-m: 3rem;
$font-size-m-l: 3.8rem;
$font-size-l: 4.5rem;
$font-size-xl: 6rem;
$font-size-xxl: 9rem;
$font-size-xxxl: 12rem;
