.about-us {
    height: fit-content;
    &__photos-container{
        display: grid;
        gap: 3rem;
        height: fit-content;
        width: 100%;

        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;

        @media only screen and (max-width: $bp-small) {
            justify-content: center;
            grid-template-columns: 45vw 45vw;
        }

        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: 45vw 45vw;
            margin-bottom: 1rem;
            gap: 0;
        }
    }

    &__img-container {
        display: flex;
        align-items: center;

        height: 100%;
        width: 100%;
        
        overflow: hidden;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            justify-content: center;
            align-items: end;
            margin-left: 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            flex-direction: column;
            align-items: center;
        }

        &:hover {
           .about-us__linkedin-icon {
                opacity: 1;
            }
        }
    }

    &__img {
        height: 30rem;
        width: 25rem;
        object-fit: cover;
        border: 10px solid $color-main-2;

        @media only screen and (max-width: $bp-medium) {
            height: 18rem;
            width: 15rem;
            border: 7px solid $color-main-2;
        }

        @media only screen and (max-width: $bp-small) {
            height: 14rem;
            width: 12rem;
            border: 7px solid $color-main-2;
        }

        @media only screen and (max-width: $bp-smallest) {
            height: 12rem;
            width: 10rem;
            border: 5px solid $color-main-2;
        }
    }

    &__linkedin-icon {
        opacity: 0;
        margin-left: 6rem;
        font-size: $font-size-xl;

        transition: all .3s ease;

        @media only screen and (max-width: $bp-large) {
            opacity: 1;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-l;
            margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-left: 1rem;
            font-size: $font-size-m-l;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-left: 0;
            margin-top: 1rem;
            font-size: $font-size-m-l;
        }
    }

    .card__right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10%;

        @media only screen and (max-width: $bp-small) {
            align-items: center;
            margin: 5rem 0;
        }
    }

    &__description {
        font-size: $font-size-m;
        text-align: justify;
        
        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-s-m;
            margin-right: 2rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            margin-right: 0rem;
        }
        
        @media only screen and (max-width: $bp-smallest) {
            font-size: $font-size-s;
        }
    }
}