.about-us {
    &__photos-container{
        display: grid;
        height: 100%;
        width: 100%;

        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;

        @media only screen and (max-width: $bp-small) {
            grid-template-rows: 100%;
            grid-template-columns: 50% 50%;
            margin-bottom: 2rem;
        }
    }

    &__img-container {
        display: flex;
        align-items: center;

        height: 100%;
        width: 100%;
        
        overflow: hidden;
        cursor: pointer;

        @media only screen and (max-width: $bp-medium) {
            margin-left: 2rem;
        }

        &:hover {
           .about-us__linkedin-icon {
                opacity: 1;
            }
        }
    }

    &__img {
        height: 80%;
        width: 55%;
        object-fit: cover;
        border: 10px solid $color-main-2;

        @media only screen and (max-width: $bp-medium) {
            border: 7px solid $color-main-2;
        }

        @media only screen and (max-width: $bp-smallest) {
            border: 5px solid $color-main-2;
        }
    }

    &__linkedin-icon {
        opacity: 0;
        margin-left: 6rem;
        font-size: $font-size-xl;

        transition: all .3s ease;

        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-l;
            margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: $font-size-m-l;
        }
    }

    .card__right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10%;
    }

    &__description {
        font-size: $font-size-m;
        text-align: justify;

        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-s-m;
            margin-right: 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            margin-right: 0rem;
        }
    }
}