.contact-us {
    font-size: $font-size-s;

    // Obsługa pojawiania się po doscrollowaniu się do elementu (js)
    transition: opacity 4s ease, transform 3s ease;
    &.section--hidden {
        opacity: 0;
        transform: translateX(-30%);
    }
    
    @media only screen and (max-width: $bp-small) {
        height: max(70vh, 70rem);
    }

    .card__left {
        @media only screen and (max-width: $bp-small) {
            min-height: 40vh;
        }
    }

    .card__right {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        padding: 1rem;
        font-size: $font-size-m;
        
        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-s;
            margin: 0 2rem;
        }
        
        @media only screen and (max-width: $bp-small) {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 0;
            padding: 0;
            margin: 0;
            margin-top: 5rem;
            
            height: 30rem;
        }
        
        @media only screen and (max-width: $bp-smallest) {
            grid-template-columns: 100%;
            font-size: $font-size-xs;
        }
        
        i {
            font-size: 25rem;
            
            @media only screen and (max-width: $bp-medium) {
                font-size: 15rem;
            }

            @media only screen and (max-width: $bp-small) {
                grid-column: 1/-1;
                justify-self: center;
            }
        }

        &__email,
        &__phone {
            position: relative;
            text-align: center;

            @media only screen and (max-width: $bp-small) {
            }
        }
    }
}