.home {
    height: max(60vh, 40rem);
    
    @media only screen and (max-width: $bp-medium) {
        height: max(45vh, 40rem);
    }
    @media only screen and (max-width: $bp-small) {
        height: fit-content;
    }
    //////////////////////// LEFT ////////////////////////
    .card__left {
        display: grid;
        grid-template-rows: 6rem 1fr 6rem;
        margin: 5rem 0;

        @media only screen and (max-width: $bp-small) {
            height: max(30vh, 25rem);

            .title {
                text-align: center;
            }
        }
    }

    &__company-name {
        display: flex;
        align-items: center;
        gap: 1.5rem;     

        @media only screen and (max-width: $bp-small) {
            justify-content: center;
        }
    }

    &__logo-container {
        height: 10rem;
        width: 6rem;
    }

    &__logo {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    &__links-container {
        display: flex;
        height: 100%;
        margin-right: 20%;
        gap: 2.5rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 0 2rem;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;

        @media only screen and (max-width: $bp-medium) {
            font-size: $font-size-xs;
        }
    }

    //////////////////////// RIGHT ////////////////////////
    &__img-container {
        position: relative;
        overflow: hidden;
        width: 90%;
        height: 50vh;

        @media only screen and (max-width: $bp-medium) {
            height: 40vh;
        }
        @media only screen and (max-width: $bp-smallest) {
            height: 20vh;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border: 10px solid $color-main-2;

        @media only screen and (max-width: $bp-medium) {
            border: 7px solid $color-main-2;
        }

        @media only screen and (max-width: $bp-smallest) {
            border: 5px solid $color-main-2;
        }
    }
}