.main-layout {
    display: grid;
    gap: 5vh;

    justify-content: center;
    margin: 5vh 0 10vh 0;

    background-color: $color-main-1;
    color: $color-main-2;
}

.card {
    position: relative;
    display: grid;
    grid-template-rows: 55vh;

    overflow: hidden;
    
    width: 70vw;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        width: 90vw;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 95vw;
    }

    &--left {
        grid-template-columns: 45% 55%;
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 45% 55%;
        }
    }

    &--right {
        grid-template-columns: 55% 45%;
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 45% 55%;
        }
    }

    &--solo {
        grid-template-columns: 100%;
    }

    &__left, &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__solo {
        width: 100%;
    }
}

.card.offer {
    grid-template-rows: 35vh;
    padding: 10rem 0;
    
    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 70vh;
    }
}