.main-layout {
    display: grid;
    gap: 5vh;

    justify-content: center;
    margin: 0 0 10vh 0;

    background-color: $color-main-1;
    color: $color-main-2;

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 0;
    }
}

.card {
    position: relative;
    display: grid;

    margin-top: 10vh;
    
    width: 70vw;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        width: 90vw;
    }

    @media only screen and (max-width: $bp-small) {
        width: 95vw;
        margin-top: 0;
    }

    &--left {
        grid-template-columns: 45% 55%;
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

        }
    }

    &--right {
        grid-template-columns: 55% 45%;
        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &--solo {
        grid-template-columns: 100%;
    }

    &__left, &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__solo {
        width: 100%;
    }
}