.form {
    display: grid;
    grid-template-rows: 15% 10% 10% 25% 10%;
    gap: 7.5%;
    
    height: 100%;
    width: 100%;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-small) {
        width: 90vw;
        grid-template-rows: 20% 20% 30% 15%;
        grid-template-columns: repeat(2, 47.5%);
        gap: 5%;

    }
    
    h1 {
        text-align: center;
    }
    
    button,
    input,
    textarea {
        outline: none;
        border: none;
        font-size: $font-size-s;
    }

    input,
    textarea {
        padding: 2rem;

        color: $color-main-2;
        background-color: $color-white; 
        font-size: inherit;
        
        box-shadow: 0px 0px 15px 0px rgba($color-main-1, .5);
        border: 1px solid $color-main-2;

        &:focus {
            box-shadow: 0px 0px 5px 0px rgba($color-main-2, 1);
        }
    }

    input,
    button,
    textarea {
        border-radius: 5px;
    }
    
    textarea {
        resize: none; 
    }

            
    @media only screen and (max-width: $bp-small) {
        .title,
        textarea,
        button {
            grid-column: 1/-1;
            justify-self: center;
        }

        textarea {
            width: 100%;
        }
    }
}